
body {
    overflow: hidden;
}

.container {
    position: fixed;
    justify-content: space-around;
}

.container, .container2 {
    display: flex;
    box-sizing: border-box;
    height: 45%;
    width: 99%;
    border: 1px solid green;
    gap: 1px;
}


.container div {
    margin: auto;
}

.container div, .container2 div {
    display: flex;
    position: relative;
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}


.container2 {
    position: absolute;
    bottom: 5px;
    
}

.container2 div {
    margin: 1px;
    
}

.container2 div:nth-of-type(2){
    order: -1;
}

.container2 div:nth-of-type(4) {
    align-self: flex-end;
    
}

.container2 div:nth-of-type(5) {
    align-self: center;
}